
{{#each this}}
<div class="on-page">
    <div class="card-img-country">
        <img src="{{flag}}" alt="{{name}}" class="card-img-country">
    </div>
    <div class="card-body"> 
        <h1 class="card-title-name-country" >{{name}}</h1>
        <h2 class="card-text">Capital: {{capital}}</h2>
        <h2 class="cart-text">Popilation: {{population}}</h2>
        <div class="languages">
            <h2 class="card-text">Language: </h2>
            <ul>
                {{#each languages}}
                <li>
                    <h2>{{name}}</h2>
                </li>
                {{/each}}
            </ul>

        </div>


    </div>
</div>
{{/each}}